* {
	margin: 0;
	padding: 0;
	box-sizing: border-box font-family: sans-serif;
	font-family: 'Poppins', sans-serif;
}

#particles-js {
	width: 100%;
	height: 200%;
	background: #262c33;
}
.container {
	height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;
}

.logo {
	width: 100px;
	cursor: pointer;
	margin-top: 50px;
	margin: 10px;
	border-radius: 50%;
	border: 2px solid #4580f5;
}

.navbar {
	padding-top: 5px;
	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
}

p {
	font-size: 25px;
}

nav {
	flex: 1;
	padding-left: 60px;
}

nav ul li {
	display: inline-block;
	font-size: 25px;
	list-style: none;
	margin: 0px, 20px;
}

nav ul li a {
	font-family: sans-serif;
	padding-left: 55px;
	text-decoration: none;
	color: #bfcfd9;
}

.content h1 {
	font-family: sans-serif;
	font-size: 40px;
	font-weight: 100;
	margin-top: 24px;
	margin-bottom: 15px;
	color: #cfdce3;
}

.content p {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 95%;
	margin-top: 24px;
	margin-bottom: 15px;
	color: #a7bac4;
}

.content {
	margin-top: 10%;
	margin-left: 5%;
}

.content .btn {
	display: inline-block;
	height: 40px;
	width: 120px;
	background: linear-gradient(45deg, #4580f5, #6d9dfc);
	border-radius: 6px;
	padding: 10px, 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.content a {
	padding-top: 10px;
	text-align: center;
}

.particles {
	height: 100%;
	width: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	z-index: -100;
}

.socials {
	transform: rotate(-90deg);
	position: absolute;
	left: -80px;
	bottom: 180px;
}

.socials a {
	text-decoration: none;
	color: #cee6f2;
	padding-right: 10px;
	opacity: 0.00f;
	font-style: none;
	font-size: 15px;
}

* a {
	font-family: sans-serif;
}
.projects{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	background: linear-gradient(45deg, #4580f5, #6d9dfc)
}
h3{
	font-family: sans-serif;
}
span{
	font-family: sans-serif;
}
.cardcontainer .card{
	align-self: center;
	padding-left: 10px;
	width: 500px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}
.cardcontainer .card .content{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0.7;
	transition: 0.5s;
	padding-right: 6%;
	padding-bottom: 6%;
}
.cardcontainer .card:hover .content{
	opacity: 1;
}
.cardcontainer .card .content .imgBx{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid rgba(0, 0, 0, 0.25);
}
.cardcontainer .card .content .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cardcontainer .card .content .contentBx h3{
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	margin: 20px 0 10px;
	line-height: 1.1em;
	text-align: center;
}
.cardcontainer .card .content .contentBx span{
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 500;
	font-family: sans-serif;
	text-align: center;
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;

}
.cardcontainer {
	margin-top: -10%;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-right: 10%;
}